body { background: #86bdbc; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 32px; display: flex; }
.block-config-0 { color: #32da57; font-size: 18px; margin-bottom: 5px; }
.block-database-1 { color: #504982; font-size: 13px; margin-bottom: 5px; }
.block-sms-2 { color: #b2d242; font-size: 18px; margin-bottom: 5px; }
.block-router-3 { color: #4bd9ea; font-size: 17px; margin-bottom: 5px; }
.block-database-4 { color: #95f946; font-size: 12px; margin-bottom: 5px; }
.block-database-5 { color: #fb58d8; font-size: 16px; margin-bottom: 5px; }